@model IEnumerable<MyLibrary.Models.Book>

@{
    var categories = ViewBag.Categories as SelectList;
    var selectedCategory = ViewBag.SelectedCategory as string;
    ViewData["Title"] = "Index";
}

<h1 class="text-center">ספרים</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>צור חדש </a>
</p>
<form asp-controller="Books" asp-action="Index" method="get">
    <select id="categorySelect" name="category" onchange="this.form.submit()">
        <option value="">@(selectedCategory ?? "כל הקטגוריות")</option>
        @foreach (var category in categories)
        {
            <option>@category.Text</option>
        }

    </select>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">ערוך</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">מחק</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
<a asp-controller="SetBooks" asp-action="Index" class="btn btn-primary"> אם ברצונך לעבור לסטים נא ללחוץ כאן </a>
</div>